body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flex_system{
    display: flex;
    margin-bottom: 150px;
}
.half-widht{
    width: 50%;
    padding: 5%;
    
}
.half-widht img{
    width: 80%;
}
.link_btn{
    text-decoration: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 400px;
    color: white;
    background-image: linear-gradient(orange, tomato);

}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.experiance_item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5px;
    
}
.experiance_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
#eperiancex{
    border-left: 7px solid;
    border-image: linear-gradient(red,salmon);
    border-image-slice: 1;
    }
    footer p{
        text-align: center;
    }